services:
  uhf-server:
    image: swapplications/uhf-server:1.6.0
    container_name: uhf-server
    restart: unless-stopped
    ports:
      - "${PORT:-8000}:${PORT:-8000}"
    volumes:
      - "${RECORDINGS_DIR}:/recordings"
      - ./uhf-db:/var/lib/uhf-server
    environment:
      - PORT=${PORT:-8000}
      - PASSWORD=${PASSWORD:-} # Optional password protection
    command: uhf-server --port ${PORT:-8000} --recordings-dir /recordings ${PASSWORD:+--password ${PASSWORD}} --enable-commercial-detection
